<div id="Hero" class="section">
  <div class="container">
    <div class="row">
      <div class="col-lg-7 block-text">
        <h1>
          Rewards for waste materials
        </h1>
        <p class="text-secondary">
            Welcome to yellowbin, a platform made available to you for free to be rewarded for waste material. 
            Stop littering and illegal dumping and sign up for yellowbin to safely dispose waste material and get rewarded.
        </p>
        <a href="#" id="learn_more" class="btn btn-md btn-warning text-light">Learn More</a>
      </div>
      <div class="col-lg-5 header-video"> 
        <iframe id="header_video" width="100%" height="100%" src="https://www.youtube.com/embed/QNedueCcey0" 
          frameborder="0" allow="autoplay; encrypted-media" allowfullscreen>
        </iframe> 
      </div>
    </div>
  </div>
</div>