
.section {
    margin-top: 0;
    padding-top: 5%;
    padding-bottom: 5%;
    background-color: #f2f2f2;
    font-family: Poppins,sans-serif;
    font-size: 20px;
    font-weight: 300;
}
.header-video {
    padding: 0px!important;
    max-height: 321px;
    overflow: hidden;
    padding: 0px;
    border-radius: 10px;
    box-shadow: 0px 0px 6px rgba(0, 0, 0, 0.25);
}
.block-text p {
    font-family: Poppins,sans-serif;
    font-size: 18px;
    font-weight: 300;
    margin-bottom: 15px;
    line-height: 200%;
}
.block-text a {
    font-family: Poppins,sans-serif;
    font-size: 18px;
    font-weight: 300;
    margin-bottom: 15px;
    color: #445869;
    line-height: 200%;
}
h1 {
    font-size: 40px;
    font-weight: 600;
    letter-spacing: -1.1px;
    margin: 0 0 20px 0;
    color: #445869;
}
h1, h2, h3, h4, h5, h6, p {
    font-family: Poppins,sans-serif;
}
