<div class="section">
  <div class="container text-center">
      <div class="row feature-list">
          <div class="col-sm-4 col-xs-12 feature">
              <img class="icon" src="../assets/images/icons/employee.png" width="70" alt="Detailed reporting">
              <p class="text-secondary"> Effiecient waste disposal </p>
          </div>
          <div class="col-sm-4 col-xs-12 feature">
              <img class="" src="../assets/images/icons/attached.png" width="70" alt="Detailed reporting">
              <p class="text-secondary"> Earn rewards </p>
          </div>
          <div class="col-sm-4 col-xs-12 feature">
              <img class="" src="../assets/images/icons/building.png" width="70" alt="Detailed reporting">
              <p class="text-secondary"> Get something dummy </p>
          </div>
      </div>
      <div class="row feature-list">
          <div class="col-sm-4 col-xs-12 feature">
              <img class="" src="../assets/images/icons/push-pin.png" width="70" alt="Detailed reporting">
              <p class="text-secondary"> Depo point of sale </p>
          </div>
          <div class="col-sm-4 col-xs-12 feature">
              <img class="" src="../assets/images/icons/employee.png" width="70" alt="Detailed reporting">
              <p class="text-secondary"> Sale reporting </p>
          </div>
          <div class="col-sm-4 col-xs-12 feature">
              <img class="" src="../assets/images/icons/chair.png" width="70" alt="Detailed reporting">
              <p class="text-secondary"> Easy disbursment </p>
          </div>
      </div>
      <div class="row feature-list">
          <div class="col-sm-4 col-xs-12 feature">
              <img class="" src="../assets/images/icons/bank.png" width="70" alt="Detailed reporting">
              <p class="text-secondary"> Depo point of sale </p>
          </div>
          <div class="col-sm-4 col-xs-12 feature">
              <img class="" src="../assets/images/icons/building.png" width="70" alt="Detailed reporting">
              <p class="text-secondary"> Sale reporting </p>
          </div>
          <div class="col-sm-4 col-xs-12 feature">
              <img class="" src="../assets/images/icons/employee.png" width="70" alt="Detailed reporting">
              <p class="text-secondary"> Easy disbursment </p>
          </div>
      </div>      
      <!-- <div class="row">
          <div class="col-12">
              <h4>Explore and compare this solution against our others.</h4>
              <a href="/features/" class="btn btn-primary" data-original-title="" title="">See all Solutions</a>
          </div>
      </div> -->
  </div>
</div>