.section {
    margin-top: 0;
    padding-top: 5%;
    padding-bottom: 5%;
    background-color: #f2f2f2;
    font-family: Poppins,sans-serif;
    font-size: 20px;
    font-weight: 300;
}
.feature-list {
    padding: 15px;
}
.feature-list .feature > img {
    padding: 15px;
}
.feature-list .feature > p {
    font-family: Poppins,sans-serif;
    font-size: 16px;
    font-weight: 600;
    margin-bottom: 20px;
    line-height: 200%;    
}