 nav {
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    padding-top: 10px;
    padding-bottom: 10px;     
    box-shadow: 0px 0px 6px rgba(0, 0, 0, 0.25); 
    border-radius: 0px;
    font-family: Poppins,sans-serif;
    font-size: 15px;
    font-weight: 400;
}
@media (max-width: 576px) {
    nav {
        padding-top: 7px;
        padding-bottom: 7px;        
    }
    nav ul a {
        padding-left: 0px;
        padding-right: 0px; 
        width: 100%;
    }
    .button {
        margin-top: 7px;
        margin-bottom: 7px;
        width: 100%;
    }
    nav ul li .navbar-nav .w-nav-link:hover {
        -webkit-transform: translate(0,0px);
        -ms-transform: translate(0,0px);
        transform: translate(0,0px);
    }  
    .navbar-toggler {
        border: none;
        border-radius: 2px; 
        background-color: #ffc107;
    }        
    .navbar-toggler-icon {
        color: #fff;
    }
} 

nav ul a {
    padding: 12px 24px;
    padding-left: 20px;
    padding-right: 20px;
    font-size: 17px;
    color: #445869; 
    text-transform: capitalize;
    -webkit-transition: -webkit-transform .2s ease;
    transition: -webkit-transform .2s ease;
    transition: transform .2s ease;
    transition: transform .2s ease,-webkit-transform .2s ease;    
}

nav ul li .w-nav-link:focus  {
    outline: 0;
    color: #000;
}

nav ul li .w-nav-link:hover {
    border-width: 1px 1px 4px;
    -webkit-transform: translate(0,-0px);
    -ms-transform: translate(0,-0px);
    transform: translate(0,-0px);
    text-decoration: none;   
    color: #000;
    outline: 0;
}

.button {
    height: 48px;
    padding: 12px 24px;
    box-shadow: 0 2px 5px 0 rgba(33,44,66,.15);
    -webkit-transition: box-shadow .3s ease;
    transition: box-shadow .3s ease;
    color: #fff;
    font-size: 15px;
    text-align: center;
}
