.section {
    margin-top: 0;
    padding-top: 5%;
    padding-bottom: 5%;
    background-color: #fff;
    font-family: Poppins,sans-serif;
    font-size: 20px;
    font-weight: 300;
}
.card {
    width: 100%;
    box-shadow: 0 0 0 1px  #ffc107;
    border-radius: 6px;
    text-align: center;
    overflow: hidden;
    border: 1px;
    margin-top: 15px;
    border-color: #ffc107;
}
.card:hover {
    box-shadow: 0 8px 10px 0 rgba(0, 0, 0, 0.15);
}
.card p {
    font-family: Poppins,sans-serif;
    font-size: 16px;
    font-weight: 300;
    margin-bottom: 20px;
    line-height: 200%;
}
.targets-heading h2 {
    padding-bottom: 21px;
}
.target-heading p {
    font-family: Poppins,sans-serif;
    font-size: 18px;
    font-weight: 300;
    margin-top: 50px;
    margin-bottom: 50px;
    line-height: 200%;
}
h2 {
    font-size: 35px;
    font-weight: 500;
    color: #445869;
}
h1, h2, h3, h4, h5, h6, p {
    font-family: Poppins,sans-serif;
}