<div class="section">
  <div class="container">
    <div class="row">
      <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 target-heading text-center">     
        <h2> Who can use yellowbin </h2>
        <p class="text-secondary">
          Bootstrap 4 is the newest version of Bootstrap, which is the most popular HTML, CSS, 
          and JavaScript framework for developing responsive, mobile-first websites.
          Bootstrap 4 is the newest version of Bootstrap, which is the most popular HTML, CSS, 
          and JavaScript framework for developing responsive, mobile-first websites.          
        </p>
      </div>      
      <div class="col-lg-4"> 
        <div class="card">
          <img src="../assets/images/solutions-connect.png" class="card-img-top" alt="...">
          <div class="card-body">
            <h5 class="card-title">Home Owners</h5>
            <p class="card-text text-secondary">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
            <!-- <a href="#" class="btn btn-primary">Go somewhere</a> -->
          </div>
        </div>            
      </div>
      <div class="col-lg-4">
        <div class="card">
          <img src="../assets/images/solutions-integration.png" class="card-img-top" alt="...">
          <div class="card-body">
            <h5 class="card-title">Waste Reclaimers</h5>
            <p class="card-text text-secondary">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
            <!-- <a href="#" class="btn btn-primary">Go somewhere</a> -->
          </div>
        </div>                    
      </div>
      <div class="col-lg-4">
        <div class="card">
          <img src="../assets/images/solutions-reliable.png" class="card-img-top" alt="...">
          <div class="card-body">
            <h5 class="card-title">Waste Depos</h5>
            <p class="card-text text-secondary">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
            <!-- <a href="#" class="btn btn-primary">Go somewhere</a> -->
          </div>
        </div>                           
      </div>                  
    </div>
  </div>
</div> 
