.section {
    width: 100%;
    margin-top: 0;
    padding-top: 5%;
    padding-bottom: 5%;
    font-family: Poppins,sans-serif;
    font-size: 20px;
    font-weight: 300;
    background: url(/assets/images/background.jpg) no-repeat center top ; 
    background-color: rgba(255, 193, 7, 0.8);
    background-blend-mode: lighten;    
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;   
}
.section-heading p {
    font-family: Poppins,sans-serif;
    font-size: 18px;
    font-weight: 300;
    margin-top: 50px;
    margin-bottom: 50px;
    line-height: 200%;
}
.section-heading h4 {
    font-family: Poppins,sans-serif;
    font-size: 25px;
    font-weight: 500;
    color: #445869;
    line-height: 200%;
    margin-bottom: 40px; 
}
h1, h2, h3, h4, h5, h6, p {
    font-family: Poppins,sans-serif;
    line-height: 200%;
}