<div class="section">
    <div class="container">
      <div class="row section-heading">
        <div class="col-lg-12 text-center">
            <h4> Join Yellowbin now and getting rewards on waste material.</h4>
            <a href="/features/" class="btn btn-lg btn-success" data-original-title="" title=""> Download App Now </a>
        </div>
      </div>
  </div>
</div>