<!--The content below is only a placeholder and can be replaced.-->

<div>
  <app-navbar></app-navbar>
  <app-header></app-header>
  <app-targets></app-targets>
  <app-features></app-features>
  <app-partners></app-partners>
  <app-howitworks></app-howitworks>

  <router-outlet></router-outlet>
</div>
